@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primari-white-color: #FFFFFF;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primari-white-color);
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 400;
}

/* Утіліти */
ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden-text {
  font-size: 0;
}

/* Main-nav */
@media screen and (max-width: 767px) {
  .main-nav {
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .main-nav .logo {
    margin-right: 61%;
  }
}

.site-nav > .portfolio {
  color: var(--accent-color);
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-black {
  color: #000000;
}

.menu-button {
  width: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .menu-button svg {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: var(--primari-white-color);
}
.menu-container.is-open {
  display: block;
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 77%;
    padding: 5%;
    height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 500ms linear;
    transition: -webkit-transform 500ms linear;
    transition: transform 500ms linear;
    transition: transform 500ms linear, -webkit-transform 500ms linear;
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-navigation__text a {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-navigation {
    margin-bottom: 200px;
  }
  .mobile-navigation li {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-navigation__text a:hover,
.mobile-navigation__text a:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .mobile-contacts {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contacts__phone a {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .mobile-contacts li {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-contacts__mail a {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

@media screen and (max-width: 767px) {
  .social-network__text a {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .social-network__text a::after {
    content: "";
    border-right: 1px solid black;
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media screen and (max-width: 767px) {
  .social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social-network li {
    margin-right: 10px;
  }
  .social-network li:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .social-network:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
  }
}

.site-nav__item {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
}
@media screen and (max-width: 767px) {
  .site-nav__item {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav__item {
    margin-right: 51px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__item {
    margin-right: 51px;
  }
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__studio {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}

.site-nav__portfolio {
  color: var(--accent-color);
}

.site-nav__portfolio::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: 0;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

/* Auth-nav */
@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 315px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item:last-child {
    margin-right: 0;
  }
}

.auth-nav__styles {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  fill: var(--primary-text-color);
}

.auth-nav__margen {
  margin-right: 10px;
}

.auth-nav__item :hover,
.auth-nav__item :focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/* Hero */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

@media screen and (max-width: 767px) {
  .overlay {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heder-mobile.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder-mobile.jpg);
    background-size: cover;
    background-position: center center;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .overlay {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heder-tablet.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heder-tablet.jpg);
    background-size: cover;
    background-position: center center;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay.jpg);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
    background-size: cover;
    background-position: center center;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30;
  color: var(--primari-white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 0px) and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1, 61;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1, 36;
    width: 696px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1199px) {
  .hero-width {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* HeroButton */
.hero-button {
  background-color: var(--accent-color);
  color: var(--primari-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  display: inline-block;
  border-radius: 4px;
  padding: 15px 40px;
  border: 1px solid transparent;
}

.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  background-color: var(--accent-color);
  color: var(--primari-white-color);
}

.portfolio-buttons {
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-buttons__button {
  background: #F5F4FA;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  padding: 6px 22px;
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio-buttons__button {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .container-buttons {
    width: 400px;
  }
}

/* Pictures */
.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pictures-element:hover {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .pictures-element img {
    width: 450px;
    height: 350px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pictures-element img {
    width: 350px;
    height: 290px;
  }
}
@media screen and (min-width: 1200px) {
  .pictures-element img {
    width: 368px;
    height: 294px;
  }
}

.pictures-element {
  padding-bottom: 50px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  position: relative;
}
@media screen and (max-width: 767px) {
  .pictures-element {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pictures-element {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .pictures-element {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pictures-element:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .pictures-element:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .pictures-element:nth-child(n+7) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pictures-element:nth-child(9) {
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .pictures-element:nth-child(9) {
    margin-bottom: 0;
  }
}

.pictures-element__offer {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
}

.pictures-element__description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
  padding-left: 24px;
}

.pictures-element__slide {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .pictures-element__slide {
    padding: 105px 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .pictures-element__slide {
    padding: 63px 20px;
  }
}
@media screen and (min-width: 1200px) {
  .pictures-element__slide {
    padding: 64px 24px;
  }
}

.pictures-element__text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--primari-white-color);
}

.pictures-element:focus .pictures-element__slide,
.pictures-element:hover .pictures-element__slide {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* Feature */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.feature-list__icon {
  background-color: #F5F4FA;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .feature-list__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: 270px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .feature-list__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

.feature-list__title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .feature-list__title {
    text-align: center;
  }
}

.feature-list__description {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}

/* Team */
.team {
  background-color: #F5F4FA;
}

.team-title {
  padding-bottom: 50px;
  margin: 0;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.image-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-work__offers {
  position: relative;
  height: 294px;
  width: 370px;
  margin-right: 30px;
}

.image-work__offers:last-child {
  margin-right: 0;
}

.image-work__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primari-white-color);
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .team-name__photo {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-name__photo {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-name__photo:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .team-name__photo:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .team-name__photo img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-name__photo img {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-name__photo {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-name__photo:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-name__photo:nth-child(n+3) {
    margin-bottom: 0;
  }
}

.team-name__photo {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primari-white-color);
}

.team-name__surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team-name__profession {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 18;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons__network {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  padding: 12px;
}

.social-icons__background:hover {
  background-color: var(--accent-color);
}

.social-icons__network:hover {
  fill: #FFFFFF;
}

.social-icons__background {
  background-color: var(--primari-white-color);
  border-radius: 50px;
  display: block;
  width: 44px;
  height: 44px;
}

.social-icons__background:last-child {
  margin-right: 0;
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

/* Company */
.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.customers-company__logo {
  border-radius: 4px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .customers-company__logo {
    width: 208px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-company__logo {
    width: 224px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-company__logo {
    width: 168px;
    height: 92px;
  }
}

.customers-company__logo:hover {
  fill: #2196F3;
  border-color: #2196F3;
}

@media screen and (max-width: 767px) {
  .customers-company {
    margin-right: 30px;
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-company {
    margin-right: 30px;
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-company {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-company:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .customers-company:nth-child(2n+2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .customers-company:nth-child(n+5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-company:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-company:nth-child(n+4) {
    margin-bottom: 0;
  }
}

.fon {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Footer */
.background {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .background {
    text-align: center;
  }
}

.footer-mail {
  margin: 9px;
}

.logo-footer {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}

.logo-white {
  color: var(--primari-white-color);
}

@media screen and (max-width: 767px) {
  .footer {
    margin-bottom: 60px;
    margin-top: 20px;
  }
}

.address {
  color: var(--primari-white-color);
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}

.mail-phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-center {
    margin-right: 165px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-center {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-center:last-child {
    margin-right: 0;
  }
}

.footer-text {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primari-white-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-text {
    margin-top: 0;
  }
}
@media screen and (max-width: 1200px) {
  .footer-text {
    margin-top: 0;
  }
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.footer-icons__social:last-child {
  margin-right: 0;
}

.footer-icons__social {
  margin-right: 10px;
}

.footer-icons__background {
  background: rgba(255, 255, 255, 0.1);
  display: block;
  border-radius: 50px;
  width: 44px;
  height: 44px;
}

.footer-icons__background:hover {
  background-color: var(--accent-color);
}

.footer-icons__network {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  padding: 12px;
}

.footer-icons__network:hover {
  fill: var(--primari-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-e-mail {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.footer-e-mail input {
  padding: 18px;
  padding-right: 190px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
}
@media screen and (max-width: 768px) {
  .footer-e-mail input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-e-mail input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-e-mail input {
    margin-right: 12px;
  }
}

::-webkit-input-placeholder {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
}

::-moz-placeholder {
  transform: translateX(16px);
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
}

:-ms-input-placeholder {
  transform: translateX(16px);
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
}

::-ms-input-placeholder {
  transform: translateX(16px);
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
}

::placeholder {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
}

.footer-button {
  padding: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  color: var(--primari-white-color);
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding-top: 7px;
  padding-bottom: 18px;
}

.footer-button svg {
  width: 24px;
  height: 24px;
  fill: var(--primari-white-color);
  -webkit-transform: translateX(10px) translateY(6px);
          transform: translateX(10px) translateY(6px);
}

/* Modal */
.backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: var(--primari-white-color);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-cross__button {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 7px 10px;
  border-radius: 50%;
  background-color: var(--primari-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-cross__button:hover {
  fill: var(--accent-color);
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  color: var(--title-text-color);
  margin-top: 0;
}

.size-icon {
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  position: absolute;
  padding: 13px;
  fill: var(--title-text-color);
}

.form-focus {
  position: relative;
}

.size-tel {
  width: 13px;
  height: 13px;
}

.size-mail {
  width: 15px;
  height: 12px;
}

.form-field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field-modal {
  font-size: 12px;
  line-height: 1, 16;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-field li input {
  margin-bottom: 10px;
}

.form-field input {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .form-field input {
    padding: 10px 171px;
  }
}
@media screen and (min-width: 1200px) {
  .form-field input {
    padding: 10px 188px;
  }
}

.form-focus input {
  padding-left: 40px;
}

input:focus + svg {
  fill: var(--accent-color);
  outline: none;
}

input:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

.form-field textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .form-field textarea {
    padding-top: 12px;
    padding-bottom: 100px;
    padding-right: 222px;
  }
}
@media screen and (min-width: 1200px) {
  .form-field textarea {
    padding-top: 12px;
    padding-bottom: 100px;
    padding-right: 240px;
  }
}

.form-focus ::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-focus ::-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-focus :-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-focus ::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-focus ::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  color: var(--primary-text-color);
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .checkbox {
    font-size: 12px;
    line-height: 1, 16;
    letter-spacing: 0.03em;
  }
}

.transform input {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.checkbox a {
  color: var(--accent-color);
  margin-left: 10px;
}

.checkbox a::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  background-color: var(--accent-color);
}
@media screen and (max-width: 1200px) {
  .checkbox a::after {
    width: 21%;
    right: 48px;
  }
}

.checkbox input {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  /* appearance: none; */
}

.submit {
  text-align: center;
}

.submit-button {
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  color: var(--primari-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}/*# sourceMappingURL=main.css.map */