
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primari-white-color: #FFFFFF;
}

 body {
    font-family: 'Roboto', sans-serif;
    background: var(--primari-white-color);
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 400;
    }

    li {
        list-style-type: none;
      }
    
      a {
        text-decoration: none;
      }

      .hidden-text {
        font-size: 0;
      }

/* Logo */
.site-nav-list > .portfolio {
    color: var(--accent-color);
}
.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
}
    
.logo-black {
    color: #000000;
}

/* Site-nav */

.site-nav-list .studio {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.auth-nav-list a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.site-nav-list a:hover, 
.site-nav-list a:focus {
    color: var(--accent-color)
}

.auth-nav-list a:hover,
.auth-nav-list a:focus {
    color: var(--accent-color);
}

.portfolio {
    color: var(--accent-color);
}

.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

/* Hetro */

.hetro {
    background-color: #2F303A;
    text-align: center;
}

.hetro-title {
    margin-top: 0;
    margin-bottom: 30;
    color: var(--primari-white-color);
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Button */

.button {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
}

.buttons button:hover,
.buttons button:focus {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
}

.section-buttons {
    background: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    padding: 6px 22px;
}

/* Pictures */

.pictures h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

    .pictures p {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
    }

/* Feature */

.feature-list .title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
}

.feature-list p {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

/* Team */

.team {
    background-color: #F5F4FA;;
}

.name h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.name p {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1,18;
    letter-spacing: 0.03em;
}

/* Footer */

.logo-footer {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
}

.logo-white {
    color: var(--primari-white-color);
}

.address {
    color: var(--primari-white-color);
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

.mail-phone {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

.fon-background {
    background-color: #2F303A;
}





