/* body {
    margin: 0;
}

.header {
    text-align: center;
    background-color: aqua;
    padding: 30px;
}


.list {
    list-style: none;
    margin: 0;
    background-color: silver;
}

.text {
    padding: 10px;
    color: aliceblue;
    font-size: 18px;
} */