.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .overlay__image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }

  .gallery__container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .gallery__item {
    list-style: none;
    margin-right: 12px;
    margin-bottom: 7px;
  }

  .gallery__item:nth-child(3n) {
    margin: 0;
  }

  .gallery__image {
    width: 392px;
    height: 250px; 
  }
  