<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="cooking.css" /> -->
</head>

<body>
    <div class="toolbar">
        <!-- Розмітка переключателя теми -->
        <div class="theme-switch">
            <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
                <use href="./images/sprite.svg#sun"></use>
            </svg>

            <div class="theme-switch__control">
                <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
                    aria-label="Переключить между тёмной и светлой темой" />
                <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
                </label>
                <div aria-hidden="true" class="theme-switch__marker"></div>
            </div>

            <svg class="theme-switch__icon" aria-label="Иконка луны">
                <use href="./images/sprite.svg#moon"></use>
            </svg>
        </div>
    </div>

    <!-- Рендер розмітки -->
    <ul class="menu js-menu">

    </ul>
    <!-- <script src="./cooking.js"></script> -->

</body>

</html>





<!-- Трутє завдання -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="header" class="header">
        <h2 style="margin:5px">My Question List</h2>
        <form id="form" action="#" class="form">
            <input type="text" id="input" placeholder="Title..." name="question">
            <button class="addBtn">Add</button>
        </form>
    </div>

    <div id="root"></div>

</body>

</html> -->



<!-- Перше завдання -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="root"></div>
</body>
</html> -->





