/* Auth-nav */

.auth-nav {
    // display: inline-block;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 250px;
    }
}

.auth-nav__item {
    fill: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        margin-left: 30px;
        margin-right: 10px;
    }
}

.auth-nav__item:last-child {
    @media screen and (min-width: 1200px) {
        margin-right: 0;
    }

}

.auth-nav__styles {
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    // fill: var(--primary-text-color);
}

.auth-nav li:hover svg ~ a {
    fill: var(--accent-color);
    color: var(--accent-color);
}

// .auth-nav__styles:hover {
// color: red;
// }
