/* Company */

.customers {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.customers-company__logo {
    border-radius: 4px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

@media screen and (max-width: 767px) {
    width: 208px;
    height: 92px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 224px;
    height: 92px;
}

@media screen and (min-width: 1200px) {
    width: 168px;
    height: 92px;
}
}

.customers-company__logo:hover {
    fill: #2196F3;
    border-color: #2196F3;
}

.customers-company {
   @media screen and (max-width: 767px) {
     margin-right: 30px;
     margin-bottom: 26px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 30px;
        margin-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}

.customers-company:last-child {
    @media screen and (min-width: 1200px) {
        margin-right: 0;
    }
}

.customers-company:nth-child(2n+2) {
    @media screen and (max-width: 767px) {
        margin-right: 0;
    }
}

.customers-company:nth-child(n+5) {
    @media screen and (max-width: 767px) {
        margin-bottom: 0;
    }
}

.customers-company:nth-child(3n+3) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 0;
    }
}

.customers-company:nth-child(n+4) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0;
    }
}

.fon {
    padding-top: 60px;
    padding-bottom: 60px;
}