/* Company */

.company {
    display: flex;
    justify-content: center;
}

.company-logo {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.company-logo:hover {
    fill: #2196F3;
    border-color: #2196F3;
    
}

.company-name {
    margin-right: 30px;
}

.company-name:nth-child(6) {
    margin-right: 0;
}

.fon {
    padding-top: 94px;
    padding-bottom: 94px;
}