/* Footer */

.background {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    // @media screen and (max-width: 480px) {
    //     // width: 479px;
    // }

    // @media screen and (min-width: 480px) and (max-width: 1230) {
    //     // width: 767px;
    // }

    // // @media screen and (min-width: 1230px) {
    // //     // width: 1229px;
    // // }
}

.footer-mail {
    margin: 9px;
}



.logo-footer {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
}

.logo-white {
    color: var(--primari-white-color);
}

.footer {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
        margin-top: 20px;
    }
}

.address {
    color: var(--primari-white-color);
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

.mail-phone {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}

.footer-flex {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.container-flex {
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
    }
}

.footer-center {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}

.footer-center:last-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 0;
    }
}

.footer-text {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primari-white-color);
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 0;
    }

    @media screen and (max-width: 1200px) {
        margin-top: 0;
    }
}

.footer-icons {
    display: flex;
    @media screen and (max-width: 767px) {
        justify-content: center;
        margin-bottom: 60px;
    }
}

.footer-icons__social:last-child {
    margin-right: 0;
}

.footer-icons__social{
    margin-right: 10px;
}

.footer-icons__background {
    background: rgba(255, 255, 255, 0.1);
    display: block;
    border-radius: 50px;
    width: 44px;
    height: 44px;
}

.footer-icons__background:hover {
    background-color: var(--accent-color);
}

.footer-icons__network {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    padding: 12px;
}

.footer-icons__network:hover {
    fill: var(--primari-white-color);
}

.footer-e-mail {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 450px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}

.footer-e-mail input {
    padding: 18px;
    padding-right: 190px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        padding: 18px;
        padding-right: 265px;
        // width: 100%;
    }

    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //     margin-bottom: 20px;
    // }
    
    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }
}

::placeholder {
    transform: translateX(16px);
    font-size: 16px;
    line-height: 1,25;
    letter-spacing: 0.03em;
}

.footer-button {
    padding: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    color: var(--primari-white-color);
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    padding-top: 7px;
    padding-bottom: 18px;
}


.footer-button svg {
    width: 24px;
    height: 24px;
    fill: var(--primari-white-color);
    transform: translateX(10px) translateY(6px);
}