/* Hero */

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    @media screen and (max-width: 1199px) {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

.overlay {

    @media screen and (max-width: 480px) {
        width: 480px;
    }

    @media screen and (max-width: 767px) {
        background-image: linear-gradient( to left, 
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/heder-mobile.jpg);
        background-size: cover;
        background-position: center center;
    }

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        background-image: linear-gradient( to left, 
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/heder-tablet.jpg);
        background-size: cover;
        background-position: center center;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        background-image: linear-gradient( to left, 
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),url(../images/overlay.jpg);
        background-size: cover;
        background-position: center center;
    }
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30;
    color: var(--primari-white-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 0px) and (max-width: 1199px) {
        font-size: 26px;
        line-height: 1,61;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1,36;
        width: 696px;
    }
}

.hero-width {
    @media screen and (min-width: 0px) and (max-width: 1199px) {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
