/* HeroButton */

.hero-button {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    display: inline-block;
    border-radius: 4px;
    padding: 15px 40px;
    border: 1px solid transparent;
}

.buttons button:hover,
.buttons button:focus {
    background-color: var(--accent-color);
    color: var(--primari-white-color);
}

.buttons {
    margin-bottom: 56px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        justify-content: center;
    }
    // justify-content: center;
}

.section-buttons {
    background: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    padding: 6px 22px;
    margin-right: 8px;

    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
    }
}

.container-buttons {
    @media screen and (max-width: 767px) {
        width: 400px;
    }
}
