/* Main-nav */

.main-nav {
    // display: flex;
    // align-items: center;
    // justify-content: space-around;

    @media screen and (max-width: 767px) {
        padding: 16px;
        padding-left: 0;
        padding-right: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        align-items: center;
        // justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        // justify-content: space-around;
    }
}

.main-nav .logo {
    @media screen and (max-width: 767px) {
        margin-right: 270px;
    }
}

.site-nav > .portfolio {
    color: var(--accent-color);
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
    
.logo-black {
    color: #000000;
}

.border {
    border-bottom: 1px solid #ECECEC;
}

// Menu-button

.menu-button {
    width: 25px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}



.menu-button svg {
    @media screen and (min-width: 767px) {
        display: none;
        // margin-left: auto;
    }
}

.menu-button .icon-close {
    display: none;
}

.menu-button.is-open .icon-close {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}