.site-nav > .portfolio {
    color: var(--accent-color);
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
    
.logo-black {
    color: #000000;
}

.border {
    border-bottom: 1px solid #ECECEC;
}