/* Team */

.team {
    background-color: #F5F4FA;
}

.team-title {
    padding-bottom: 50px;
    margin: 0;
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

// Image

.image-work {
    display: flex;
    justify-content: center;
}

.image-work__offers {
    position: relative;
    height: 294px;
    width: 370px;
    margin-right: 30px;
}

.image-work__offers:last-child{
    margin-right: 0;
}

.image-work__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: var(--primari-white-color);
    background: rgba(47, 48, 58, 0.8);
    padding: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

// Name

.team-name {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
    }
}

.team-name__photo {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}

.team-name__photo:last-child {
    @media screen and (min-width: 1200px) {
        margin-right: 0;
    }
}

.team-name__photo:last-child {
    @media screen and (max-width: 767px) {
        margin-bottom: 0;
    }
}

.team-name__photo img {
    @media screen and (max-width: 767px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
    }
}

.team-name__photo {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.team-name__photo:nth-child(2n+2) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 0;
    }
}

.team-name__photo:nth-child(n+3) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0;
    }
}

.team-name__photo {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primari-white-color);
}


.team-name__surname {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.team-name__profession {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1,18;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
}

// Social

.social-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons__network {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    padding: 12px;
}

.social-icons__background:hover,
.social-icons__background:focus {
    background-color: var(--accent-color);
}

.social-icons__network:hover,
.social-icons__network:focus {
    fill: #FFFFFF;
}
 
.social-icons__background {
    background-color: var(--primari-white-color);
    border-radius: 50px;
    display: block;
    width: 44px;
    height: 44px;
    
}

.social-icons__background:last-child {
    margin-right: 0;
}

.work{
    padding-top: 0;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

